black
transformers
flake8
isort
loguru
pip
python-dotenv
tqdm
typer
pyrender
trimesh
pycocotools
comet_ml
objaverse
albumentations
pyrender
einops
tqdm
torch==2.5.1
torchvision~=0.20.1
opencv-python
opencv-contrib-python
matplotlib
pandas
scikit-learn
scikit-image
tabulate
open3d
lightning
lightning_utilities
tensorboardX
tensorboard
pyperclip
transforms3d
PyOpenGL-accelerate
motmetrics
timm~=1.0.15
pypng~=0.20220715.0
-e .
# install the following separately
# bop_toolkit_lib
# trackformer
# memotr